<div *ngIf="control?.invalid && (control.dirty  || control.touched)">
  <small *ngIf="control.errors['required']" id="required" class="text-warning bg-danger">El Campo {{name}} es Requerido</small>
  <small *ngIf="control.errors['minlength']" id="minlength" class="text-warning bg-danger">El Campo {{name}} necesita al menos {{control.errors['minlength'].requiredLength}} caracteres</small>
  <small *ngIf="control.errors['maxlength']" id="maxlength" class="text-warning bg-danger">El Campo {{name}} no debe contener mas de {{control.errors['maxlength'].requiredLength}} caracteres</small>
  <small *ngIf="control.errors['email']" id="email" class="text-warning bg-danger">El Campo {{name}} no es un campo valido</small>
  <small *ngIf="control.errors['min']" id="min" class="text-warning bg-danger">El Campo {{name}} es menor a {{control.errors['min'].min}}</small>
  <small *ngIf="control.errors['max']" id="max" class="text-warning bg-danger">El Campo {{name}} es mayor a {{control.errors['max'].max}}</small>
  <small *ngIf="control.errors['pattern']" id="pattern" class="text-warning bg-danger">El Campo {{name}} no cumple con los requisitos</small>
</div>
