<div class="container-fluid pt-5 background-img">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div *ngIf="!loading" class="card acrylic">
        <div class="card-body">
          <form [formGroup]="recoverUsuario" (ngSubmit)="recover()" class="container mt-3">
            <div class="row justify-content-center ">
              <h2 class="text-center text-light mb-4">Recuperar Contraseña</h2>
            </div>
            <div class="row justify-content-center mb-3">
              <input type="text" class="form-control" formControlName="email" name="email" id="email" placeholder="Ingrese Email">
              <app-auth-validators [control]="recoverUsuario.controls['email']" name='Email'></app-auth-validators>
            </div>
            <div class="row justify-content-center">
              <button type="submit" [disabled]="recoverUsuario.invalid" class="btn btn-close-white btn-dark m-2">Recuperar</button>
            </div>
            <div class="row justify-content-center">
              <a class="text-center text-light" routerLink="/auth/login">Volver a Inicio</a>
            </div>
          </form>
        </div>
      </div>
      <app-spinner *ngIf="loading"></app-spinner>
    </div>
  </div>
</div>


